data/output/
data/scene_datasets/examples/
data/scene_datasets/mp3d/
data/scene_datasets/replica_cad/
data/scene_datasets/temp/
data/scene_datasets/trial/
data/scene_datasets/try_old/
data/convolution_output.ipynb
data/create_ply_file.ipynb
*.wav
data/ground_truth_distances.ipynb
*_semantic.ply
*_ascii.ply
*.house
data/scene_datasets/TRsim/TRsim.scene_dataset_config.json
data/scene_datasets/TRsim/TRsim_viewer.scene_instance.json
data/scene_datasets/TRsim/TRsim.stage_config.json
data/wav_viewer.ipynb
data/scene_datasets/TRsim/configs/stages/TRsim.stage_config.json
